
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
</head>
<body>
<div class="registration-container">
  <form (ngSubmit)="registerUser()">
    <h2>Registration</h2>
    <div *ngIf="message" id="message-container" class="message-container">{{message}}</div>
    <label for="username">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      [(ngModel)]="registerRequest.username"
      required>

    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="registerRequest.email"
      required>

    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="registerRequest.password"
      required>

    <button type="submit">Register</button>
  </form>
</div>
</body>

