<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>
<body>
<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <h2>Login</h2>
    <div class="text-danger" *ngIf="message">{{message}}.</div>
    <label for="username">Username:</label>
    <input formControlName="username" type="text" id="username" name="username">
    <div class="text-danger" *ngIf="loginForm.controls.username.touched && loginForm.controls.username?.invalid">
      Please enter a username.</div>
    <label for="password">Password:</label>
    <input formControlName="password" type="password" id="password" name="password">
    <div class="text-danger" *ngIf="loginForm.controls.password.touched && loginForm.controls.password?.invalid">
      Please enter a password.</div>

    <button type="submit">Login</button>
  </form>
</div>
</body>

